<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Scenarios" thread-count="4" parallel="tests"
	data-provider-thread-count="1">

	<test name="Chrome 1 TestRegistration">
		<parameter name="browser" value="chrome" />
		<parameter name="keyword" value="Sweet &amp; Easy" />
		<parameter name="result" value="SWEET &amp; EASY - ENIE BACKT" />
		<classes>
			<class name="tests.NewTeaser" />
		</classes>
	</test> <!-- Test -->


</suite> <!-- Suite -->
