<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Scenarios" thread-count="4" parallel="tests"
	data-provider-thread-count="1">
	
		<test name="Chrome 1 TestRegistration">
		<parameter name="browser" value="chrome" />
			<classes>
				<class name="tests.Registration" />
			</classes>
	</test> <!-- Test -->
	
			<test name="Chrome 2 TestTeaser">
		<parameter name="browser" value="chrome" />
			<classes>
				<class name="tests.Teaser" />
			</classes>
	</test> <!-- Test -->
	
		<test name="Firefox 1 TestRegistration">
		<parameter name="browser" value="firefox" />
			<classes>
				<class name="tests.Registration" />
			</classes>
	</test> <!-- Test -->
	
	<test name="Firefox 2 TestTeaser">
		<parameter name="browser" value="firefox" />
			<classes>
				<class name="tests.Teaser" />
			</classes>
	</test> <!-- Test -->

</suite> <!-- Suite -->
